<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="goToLogin()">Volver</ion-button>
    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure class="ion-text-center">
    <ion-avatar class="center-avatar"> 
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/1f/Logo-tomorrowland.jpg">
    </ion-avatar>
  </figure>
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
    <ion-item>
      <ion-input label="Email" labelPlacement="floating" placeholder="Email" formControlName="email"></ion-input>
      <ion-input label="Nombre" labelPlacement="floating" placeholder="Nombre" formControlName="name"></ion-input>
      <ion-input label="Apellido" labelPlacement="floating" placeholder="Apellido" formControlName="last_name"></ion-input>
      <ion-input label="Contraseña" labelPlacement="floating" placeholder="Contraseña" formControlName="password"></ion-input>
      <ion-input label="Confirme Contraseña" labelPlacement="floating" placeholder="Confirme Contraseña" formControlName="confirmation_password"></ion-input>
      <div *ngIf="registerForm.get('password')?.value !== registerForm.get('confirmation_password')?.value && registerForm.get('confirmation_password')?.dirty" class="error-message">
        Las contraseñas no coinciden
      </div>
    </ion-item>   
    <ion-button
      expand="full"
      shape="round"
      color="success"
      [disabled]="!registerForm.valid || (registerForm.get('password')?.value !== registerForm.get('confirmation_password')?.value)"
      type="submit"
    >
      Ingresa tus datos por favor 
    </ion-button>
  </form>
</ion-content>
